@import "compass";
@import "compass/reset";

$fontTitre:Verdana,Futura,'sans-serif';

html
{
	margin: auto;
	width: 1200px;
	font-family: Helvetica,Arial,'sans-serif';
}

body{
	position: relative;
}

header>h1
{
	height:71px;
	background-image: url(../img/logo_Global.gif);
	background-repeat: no-repeat;
	text-indent:9999px;
	white-space: nowrap;
	overflow: hidden;

}

header
{
	width:377px;
	display: inline-block;
	margin-top:30px;
}

nav
{
	padding-top:50px;
	float:right;
	width:815px;
	position:relative;
	top:1px;
	left:1px;
	& ul
	{
		margin-left: 40px;
	}
}

nav ul li
{
	float:left;
	border-top-right-radius: 10px;
	border:1px solid grey;
	background-color: #b5c135;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-family: $fontTitre;
	font-size: 13px;
	text-transform: uppercase;
	box-sizing:border-box;
	height:52px;

	&:hover,&.actif
	{
		background-color: #3D6CAA;
		-webkit-box-shadow: 1px -1px 1px grey;
		-moz-box-shadow: 1px -1px 1px grey;
		box-shadow: 1px -1px 1px grey;

	}
	
	&:hover>a,&.actif>a
	{
		color:#DDD;
	}
	&>a
	{
		
		line-height: 34px;
		padding: 9px;
		display: block;
		color:#111;
		text-decoration: none;
	}
	&:last-child,&:nth-child(7)
	{
		background-color: orange;
	}
	&:nth-child(7):hover
	{
		background-color: desaturate(red,30%);
	}
	& form {
		color:#111;
		display:none;
		width:540px;
		min-height: 500px;
		padding:30px;
		background-color: rgba(255,255,255,0.8);
		z-index: 3;
		position:absolute;
		top:102px;
		right:0;
		border-bottom-right-radius:10px;
		& p.button{
			background-color: #3D6CAA;
			text-align: center;
			font-weight: bold;
			&:hover{
				background-color: #2b4b99;
				color:#eee;
			}
		}
	}
	& label{
		display: inline-block;
		width:40%;
		padding:10px;
		color:#111;
	}
	& input{
		display: inline-block;
		width:20%;
	}
	&:last-child:hover img ~ form, & select:hover ~ form, & option:hover ~ form{
		display:block;
	}
	& form:hover{
		display: block;
	}
}



#wrapper figure
{
	position:relative;
	& img
	{
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 2px grey;
	-moz-box-shadow: 2px 2px 2px grey;
	box-shadow: 2px 2px 2px grey;
	}
}

#wrapper figcaption
{
	position:absolute;
	top:0;
	left:0;
	color:#EEE;
	background-color: rgba(26,26,26,0.7);
	padding:20px;
	border-bottom-right-radius: 10px 10px;

	&>h2
	{
		padding: 0px 0px 10px 0px;
		font-family: $fontTitre;
		font-size: 1.25em;
	}
}

#content 
{
	width: 850px;
	display: inline-block;
	vertical-align: top;
	margin:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	

	& li
	{
		padding:15px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid lightgrey;
		margin:20px 35px 20px 0px;
		display:inline-block;
		vertical-align: top;
		min-height:200px;
		transition:all 0.2s linear;
		background-color: #ecf0f1;
		
		& h4
		{
			padding:10px;
			padding-left:0px;
			font-family: $fontTitre;
			font-weight: 400;
		}
	}

	& li:hover
	{
		background-color:rgba(177,197,53,0.2);
	}

	&>h3
	{
		font-size: 18px;
		font-family: $fontTitre;
		font-weight: bold;
		margin:20px 0px;
	}

	& figcaption
	{
		display: inline-block;
		width:170px;
		vertical-align: top;
		margin-left:10px;
	}
	& img
	{
		float:left;
		padding: 10px;
		border-radius: 10px;
	}

	& a 
	{
		display:block;
		text-decoration: none;
		color:rgb(25,25,25);
	}
	& a:hover
	{
		text-shadow:1px 1px 1px grey;
	}
	&>p
	{
		text-align: right;
	}
	& p>a
	{
		text-decoration: underline;
	}
	& p.prix{
		padding:10px;
		padding-top: 20px;
		font-weight:bold;
		color:orange;
		text-align: center;
	}
}

aside
{
	width:215px;
	display: inline-block;
	margin:10px;
	margin-top:30px;
	border-left:1px solid lightgrey;
	padding: 15px;
	padding-left:40px;
	text-align: center;
	
	& figure
	{
		padding:0px;
	}

	&>h4
	{
		font-family: $fontTitre;
		font-size: 16px;
		margin:20px;
		font-weight: 800;
		margin-top:25px;
	}

	& figcaption
	{
		text-indent: 9999px;
		overflow:hidden;
		white-space: nowrap;
		width:0px;
		height: 0px;
	}
	
	& #face,& #twi ,& #and ,& #iph
	{
		width:45px;
		height: 43px;
		display:inline-block;
		text-indent: 9999px;
		overflow:hidden;
		white-space: nowrap;
		padding:5px;
		background-repeat: no-repeat;
	}
	& ul li{
		width:45px;
		height: 43px;
		display:inline-block;
		overflow:hidden;
		white-space: nowrap;
	}

	& #face
	{
		background:url("../img/homefb.jpg");
		background-repeat: no-repeat;
	}
	& #twi
	{
		background:url("../img/hometw.jpg");
		background-repeat: no-repeat;
	}
	& #and
	{
		background:url("../img/homeandroid.jpg");
		background-repeat: no-repeat;
	}
	& #iph
	{
		background:url("../img/homeiphone.jpg");
		background-repeat: no-repeat;
	}
}

footer
{
	padding:10px;
	margin:10px;
	border:1px solid lightgrey;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	& ul
	{
	margin:10px 20px;
	}

	& ul>li
	{
		display:inline-block;
		
	}
	& li.actif a{
			text-shadow:1px 1px darkgrey;
		}
	& ul li:after
	{
		content:"|";
		color:#b5c135;
	}

	& ul li:last-child:after
	{
		content:"";
	}

	& ul>li>a
	{
		padding-right:10px;
		padding-left:10px;
		color:rgb(50,50,50);
		text-decoration: none;
	}

	& ul>li>a:hover
	{
		text-shadow:1px 1px darkgrey;
	}
}